<form>
    <label for="nombre">Nombre:</label>
    <input class="form-control" id="nombre" type="text" name="nombre"/>
   
    <label for="email">Email:</label>
    <input class="form-control"  id="email" type="text" name="email"/>
    
    <label for="direccion">direccion:</label>
    <input class="form-control"  id="direccion" type="text" name="direccion"/>
    <select>
      <option value="soltero">Soltero</option>
      <option value="casado">Casado</option>
      <option value="divorciado">Divorciado</option>
    </select>
</fieldset>
    
    <label>
      <input type="checkbox"> Recordarme
    </label>
    <button type="submit">Enviar</button>
  
    
  
  </form>